.App {
  text-align: center;
}

.game {
  display: flex;
  height: 100%;
  width: 100%;
}

.blue {
  background-color: blueviolet;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.col {
  height: 100%;
  width: 33%;
  align-items: center;
  justify-content: center;
}
